.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
}
.logo {
  a {
    display: flex;
    align-items: center;
    color: black;
  }
  img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}
.logo_text {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 25px;
  span {
    color: #E80054;
  }
}
.nav {
  display: flex;
  align-items: center;
  ul {
    li {
      margin-right: 40px;
      &:last-child{
        margin-right: 0;
      }
      a {
        color: black;
        font-size: 15px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.nav_game{
  display: flex;
  align-items: center;
}
.nav_game__list {
  li{
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.img_nav {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
.WoT_nav {
  width: 32px;
}