html {
  font-size: 16px;
}
body {
  margin: 0;
}
.content {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  line-height: 1.35;
}
.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid olive;
  // background:rgb(225, 202, 247);
}
h1, h2, h3 {
  margin: 0;
}
p {
  margin: 10px 0;
}
.title {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}