.game_description {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-bottom: 0;
}
.description_text {
  width: 855px;
  margin-right: 30px;
}
.description_video {
  margin-top: 10px;
}
.game_content {
  margin: 0 30px;
}
.game_content>ul {
  list-style-type: none;
}
.screen {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100%;
}
.game_small_screen{
  width: 900px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.game_title {
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 67px;
}

